<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   
    <%- include('partials/header.ejs') %>.



    <h1>Home</h1>
   <p> <%= homecnt %> </p>
   <!-- <% for(var i=0 ; i < composedpost.length ; i++){ %>
    <h1><%=composedpost[i].title%></h1>
    <p> <%=composedpost[i].textarea%></p>
    <%  }  %> -->

 <!-- <% composedpost.forEach(function(post){  %>
  <h1><%=     post.title  %></h1>
  <p><%=     post.textarea  %></p>
   <% })  %> -->

    
    <%- include('partials/footer.ejs') %>.



</body>
</html>